<div class="development-page">
	<h2>Trang quản trị - Development</h2>
	<div class="all-message dev-section">
		<!-- show all image -->
		<h3>Tin nhắn</h3>
		<table class="all-messages-table" cellspacing="0" cellpadding="0" >
			<thead>
				<tr>
					<th class="name">Tên</th>
					<th class="time">Thời gian</th>
					<th class="show">Xem</th>
					<th class="delete">Xóa</th>
				</tr>
			</thead>
			<tbody>
				<% @allMessage.each do |message| %>
					<tr>
						<td class="tb-data-left"><%= message.name.capitalize %></td>
						<td class=""><%= time_ago_in_words(message.created_at) %> trước</td>
						<td class="show-button" onclick="showMessage(<%= message.id %>)">Đọc tin nhắn</td>
						<td class="delete-button" onclick="return deleteMessage(<%= message.id %>)">Xóa tin nhắn</td>
	 				</tr>
 				<% end %>
			</tbody>
		</table>
	</div>
	<div class="dev-section">
		<!-- show contact -->
	</div>
	<div class="dev-section">
		<!-- show message -->
	</div>
	<div class="show-modal-box">
		<div class="modal-content-box">
			<div class="modal-header">
				<!-- modal title -->
				<h3 class="modal-title">Tin nhắn</h3>
				<!-- modal close button -->
				<div class="close-button" onclick="closeMessage()"></div>
			</div>
			<!-- modal content box -->
			<div class="modal-content">
				<div class="message">
					<p class="name"></p>
					<p class="email"></p>
					<p class="send-time"></p>
					<p class="message"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="comfirm-box">
		<div >
			<h3>Bạn có chắc chắn muốn xóa ?</h3>
			<button class="false-button" onclick="confirmDelete(false)">Không</button>
			<button class="true-button" name="" onclick="confirmDelete(true)">Có</button>
		</div>
	</div>
</div>
<script type="text/javascript">
	function showMessage (message_id) {
		// show modal box
		$('.development-page .show-modal-box').show();
		$('.development-page .show-modal-box .modal-content-box').slideDown(600);
		// call ajax
		$.ajax({
			url: "/development/showmessage",
			type: "POST",
			dataType: "json",
			data: {"idMessage": message_id},
			success: function(data) {
				// show value
				$('.development-page .show-modal-box .modal-content-box .modal-content .message .name').html(data["name"]);
				$('.development-page .show-modal-box .modal-content-box .modal-content .message .email').html(data["mail"]);
				$('.development-page .show-modal-box .modal-content-box .modal-content .message .send-time').html(data["send_time"]);
				$('.development-page .show-modal-box .modal-content-box .modal-content .message .message').html(data["message"]);
			}
		});
	}
	function closeMessage () {
		$('.development-page .show-modal-box .modal-content-box').slideUp(600);
		setTimeout(function(){ 
			$('.development-page .show-modal-box').hide(); 
			$('.development-page .show-modal-box .modal-content-box .modal-content .message p').html(""); 
		}, 600);
	}
	function deleteMessage (message_id) {
		// show comfirm-box
		$('.development-page .comfirm-box').show();
		$('.development-page .comfirm-box > div').slideDown(600);
		// set value
		$('.development-page .comfirm-box .true-button').attr('name', message_id);
	}
	function confirmDelete (value) {
		if (value) {
			// call ajax
			idMessage = $('.development-page .comfirm-box .true-button').attr('name');
			$.ajax({
				url: "/development/deletemessage",
				type: "POST",
				dataType: "json",
				data: {"idMessage": idMessage},
				success: function(data) {
					// show value
				}
			});
			// close form
			closeComfirm();
		}else{
			// close form
			closeComfirm();
		};
	}
	function closeComfirm () {
		$('.development-page .comfirm-box > div').slideUp(600);
		setTimeout(function(){ $('.development-page .comfirm-box').hide(); }, 600);
		$('.development-page .comfirm-box .true-button').attr('name', "");
	}
</script>
