<% title "Trang quản trị " %>
<div class="development-page">
	<h2>Trang quản trị - Development</h2>
	<div class="dev-section main-content">
		<div>
			<%= link_to(development_message_path) do%>
				<div class="main-element message">
					<p>Tin nhắn</p>
				</div>
			<% end %>
			<%= link_to(development_contact_path) do%>
				<div class="main-element contact">
					<p>Theo dõi</p>
				</div>
			<% end %>
			<%= link_to(development_image_path) do%>
				<div class="main-element image">
					<p>Quản lý ảnh</p>
				</div>
			<% end %>
			<%= link_to(development_count_path) do%>
				<div class="main-element view_count">
					<p>Thống kê</p>
				</div>
			<% end %>
			<div class="clear-fix"></div>
		</div>
	</div>
</div>
