<% title "Không tìm thấy trang" %>
<h2 style="display: none;">Congso.club</h2>
<div class="err-box-out">
	<div class="err-box">
		<div class="error-image">
			<%= image_tag("404-text.jpg") %>
		</div>
		<%= link_to "Quay lại trang chủ", root_path %>
	</div>
</div>
