<div class="login-page">
	<div class="login-box">
		<h2 class="page-title">Trang quản trị</h2>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field">
				<%= f.email_field :email, autofocus: true %>
			</div>
			<div class="field">
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
			<div class="actions">
			<%= f.submit "Đăng nhập" %>
			</div>
		<% end %>
	</div>
</div>
