<% title "Gửi ảnh cho chúng tôi" %>
<div class="contributed-image-page" id="contributed-image">
	<div class="contributed-image-page-box">
		<div class="contributed-image-box">
			<h2 class="page-title">Gửi ảnh cho chúng tôi</h2>
			<div class="field">
				<input type="text" name="name" value="" placeholder="Tên của bạn">
			</div>
			<div class="field">
				<input type="text" name="email" value="" placeholder="Email">
			</div>
			<div class="field">
				<input type="text" name="title" value="" placeholder="Tiêu đề ảnh">
			</div>
			<div class="field">
				<div class="select-box">
					<p class="label">Ảnh bạn muốn gửi ?</p>
					<div class="sel-el upload-image" name="upload-image">
						<p>Tải ảnh của tôi lên ! </p>
						<div>
							<input type="radio" value="upload-image" name="image-select" class='icheck-me' data-skin="square" data-color="green">
						</div>
					</div>
					<div class="sel-el add-link" name="add-link">
						<p>Nhập vào đường dẫn ảnh </p>
						<div>
							<input type="radio" value="add-link" name="image-select" class='icheck-me' data-skin="square" data-color="green">
						</div>
					</div>
					<div class="sel-el add-idea" name="add-idea">
						<p>Tôi có ý tưởng <br /> Hãy tạo ra bức ảnh cho tôi !</p>
						<div>
							<input type="radio" value="add-idea" name="image-select" class='icheck-me' data-skin="square" data-color="green">
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="modal-add-file upload-image-data">
					<div class="add-img-file-box">
						<div class="add-image-button" onclick="$('#contributed-image input.upload-image-file').click();"></div>
						<input type="file" name="upload-image" placeholder="" class="upload-image-file">
						<div class="add-image-infomation">
							<ul>
								<li class="type">Ảnh có định dạng : PNG JPG GIF</li>
								<li class="size">Dung lượng ảnh nhỏ hơn 10 Mb</li>
							</ul>
						</div>
						<div class="clear-fix"></div>
					</div>
				</div>
				<div class="modal-add-file add-link-data">
					<input type="text" name="add-link" placeholder="Đường dẫn ảnh https://...">
				</div>
				<div class="modal-add-file add-idea-data">
					<textarea class="message" name="add-idea" placeholder="Ý tưởng của bạn "></textarea>
				</div>
			</div>
			<div class="field">
				<textarea class="message" name="noted" placeholder="Ghi chú"></textarea>
			</div>
			<div class="field">
				<button type="" class="send-image">Gửi</button>
			</div>
		</div>
		<div class="embed-logo">
			<p class="question">Vì sao chúng tôi cần đến tên của bạn ?</p>
			<p class="answer">Mỗi bức ảnh hay ý tưởng bạn gửi cho chúng tôi đều thuộc quền sở hữu của bạn. Chúng tôi tôn trọng điều đó. Vậy nên chúng tôi cần tên của bạn để hiển thị trên trang chủ của chúng tôi - như 1 lời cảm ơn của chúng tôi vì những đóng góp của bạn.</p>
			<p class="question">Tên của bạn sẽ được hiển thị ở đâu ?</p>
			<p  class="answer">ở đây này</p>
			<p class="question">Tôi không muốn cung cấp tên của tôi ?</p>
			<p  class="answer">Như đã nói ở trên, chúng tôi tôn trọng mọi quyết định của bạn. Cho nên trong trường hợp bạn không muốn cung cấp tên của mình, xin vui lòng không điền vào ô "Tên của bạn ". Bức ảnh của bạn sẽ được đăng dưới tên "Admin congso.club". Xin cảm ơn !</p>
			<p class="question">Tôi có những câu hỏi khác ?</p>
			<p  class="answer">Nếu bạn có những câu hỏi, góp ý ... bạn có thể liên hệ với chúng tôi ở đường dẫn :
				<a href="http://congso.club/contact" title="congso.club" target="blank">http://congso.club/contact</a>
				<br /><br />
				hoặc vào trực tiếp trang <%= link_to "Liên hệ", contact_path, class: "contact-button", :target => "_blank" %>
			</p>
		</div>
		<div class="clear-fix"></div>
	</div>
</div>
<%= javascript_include_tag "contributed" %>
