<% title "Cảm ơn bạn đã ghé thăm" %>
<div class="thank-you-box">
	<div class="thank-you">
		<h2>Cảm ơn bạn đã ghé thăm </h2>
		<h3> Ảnh của bạn sẽ sớm được đăng trên trang chủ</h3>
		<h4>Chúng tôi sẽ gửi Email cho bạn ngay khi ảnh của bạn được đăng </h4>
		<%= link_to "Quay trở về trang chủ", root_path %>
	</div>
</div>
<div class="tk-section">
</div>
