<div class="contact-page">
	<!-- about me -->
	<div class="page-secction">
		<div class="page-center about-me">
			<%= image_tag("ngocquy-avatar.jpg", class: "avatar")%>
			<div class="infomation">
				<div class="info-slide">
					
				</div>
			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
	<!-- why is zorba -->
	<div class="page-secction">
		<div class="page-center why-is-zorba">
			<div class="zorba-text">

			</div>
			<div class="zorba-image">

			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
	<!-- connect to me -->
	<div class="page-secction">
		<div class="page-center connect-to-me">
			<h2 class="title">Connect to me on Social network</h2>
			<div class="page-center social-box">
				<ul>
					<a href="" target="blank"><li class="icon github"></li><br /><span>Github</span></a>
					<a href="#" target="blank"><li class="icon twitter"></li><br /><span>twitter</span></a>
					<a href="#" target="blank"><li class="icon facebook"></li><br /><span>facebook</span></a>
					<a href="#" target="blank"><li class="icon google-plus"></li><br /><span>google-plus</span></a>
					<a href="#" target="blank"><li class="icon dribbble"></li><br /><span>dribbble</span></a>
					<a href="#" target="blank"><li class="icon skype"></li><br /><span>skype</span></a>
					<a href="#" target="blank"><li class="icon pinterest"></li><br /><span>pinterest</span></a>
					<a href="#" target="blank"><li class="icon youtube"></li><br /><span>youtube</span></a>
				</ul>
			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
</div>
