<div class="contact-page">
	<!-- about me -->
	<div class="page-secction">
		<div class="page-center about-me">
			<%= image_tag("ngocquy-avatar.jpg", class: "avatar")%>
			<div class="infomation">
				<div class="info-slide">
					<ul class="slide-content">
						<li class="active" name="1">
							<h5>Hello! My name is Ngoc Quy Hoang</h5>
							<p>I'm a Front-end Developer</p>
							<p>So I'm a Designer too</p>
							<p>Now ! I'm a Student in Hanoi University of Science and Technology</p>
						</li>
						<li class="" name="2">
							<h5>My Information</h5>
							<p>Email : ngocquyhoang.93@gmail.com</p>
							<p>Skype : hiworld_quyhn</p>
							<p>Address : Nhan my , My dinh, Ha noi</p>
							<p>Phone : 0964149843</p>
						</li>
						<li class="" name="3">
							<h5>Connect to me</h5>
							<p>Twitter : <a target="blank" href="https://twitter.com/malloryandbob">@malloryandbob</a></p>
							<p>Github : <a target="blank" href="https://github.com/ngocquyhoang">ngocquyhoang </a></p>
							<p>Chatwork : <a target="blank" href="https://www.chatwork.com/ngocquyhoang">ngocquyhoang </a></p>
							<p>Facebook : <a target="blank" href="https://www.facebook.com/ngocquyhoang.93">ngocquyhoang.93 </a></p>
						</li>
					</ul>
					<div class="control">
						<ul class="slider-control">
							<li class="active" name="1" onclick="selectSlide(1)"></li>
							<li class="" name="2" onclick="selectSlide(2)"></li>
							<li class="" name="3" onclick="selectSlide(3)"></li>
							<div class="clear-fix"></div>
						</ul>
					</div>
					<div class="slider-button">
						<div class="button prev" onclick="prevSlide();"></div>
						<div class="button next" onclick="nextSlide();" ></div>
					</div>
				</div>
			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
	<!-- why is zorba -->
	<div class="page-secction">
		<div class="page-center why-is-zorba">
			<div class="zorba-text">
				<h5>Why is zorba ?</h5>
				<p>Zorba is the name of one character - 1 cat in literary works for children: "The Story of a Seagull and the Cat Who Taught Her To The Fly" by "Luis Sepúlveda." Despite being one programmer, but my hobby is literature, I enjoyed reading Westerners literature, especially the works of literature for children. "The Story of a Seagull and the Cat Who Taught Her To The Fly" is a work that I love the most. And I decided to take the name of the character that made his nickname!</p>
			</div>
			<%= image_tag("zorba-story.jpg", class: "zorba-image") %>
			<div class="clear-fix"></div>
		</div>
	</div>
	<!-- connect to me -->
	<div class="page-secction">
		<div class="page-center connect-to-me">
			<h2 class="title">Connect to me on Social network</h2>
			<div class="page-center social-box">
				<ul>
					<a href="https://github.com/ngocquyhoang" target="blank"><li class="icon github"></li></a>
					<a href="https://twitter.com/malloryandbob" target="blank"><li class="icon twitter"></li></a>
					<a href="https://www.facebook.com/ngocquyhoang.93" target="blank"><li class="icon facebook"></li></a>
					<a href="https://plus.google.com/u/0/101396476640771423396/posts" target="blank"><li class="icon google-plus"></li></a>
					<a href="" target="blank"><li class="icon dribbble"></li></a>
					<a href="" target="blank"><li class="icon skype"></li></a>
					<a href="" target="blank"><li class="icon pinterest"></li></a>
					<a href="" target="blank"><li class="icon youtube"></li></a>
				</ul>
			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
</div>
