<div class="message-page">
	<div class="message-page-box">
		<div class="embed-logo">
		<%#= image_tag("logo-congso.png", class: "congso-logo") %>
		</div>
		<div class="message-box">
			<h2 class="page-title">Liên hệ với chúng tôi</h2>
			<div class="field">
				<input type="text" name="name" value="" placeholder="Tên của bạn">
			</div>
			<div class="field">
				<input type="text" name="email" value="" placeholder="Email">
			</div>
			<div class="field">
				<textarea class="message" name="message" placeholder="Tin nhắn"></textarea>
			</div>
			<div class="field">
				<button type="" class="send-messages">Gửi</button>
			</div>
		</div>
		<div class="clear-fix"></div>
	</div>
</div>
