/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*general setting*/
@font-face {
  font-family: 'Genica';    
  src: asset_url('Genica.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hero';    
  src: asset_url('Hero.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stag';    
  src: asset_url('Stag.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
	margin: 0px;
	padding: 0px;
}
.hidden-element{
	display: none;
}
.clear-fix{
	clear: both;
}
html, body{
	background-image: asset_url('bg-coffee-1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	font-size: 15px;
}
*{
	border-radius: 0px;

}
.page-secction{
	width: 100%;
	min-height: 100px;
	text-align: center;
}
::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}

::-ms-input-placeholder { /* Edge */
  color: #fff;
}

:placeholder-shown { /* Standard one last! */
  color: #fff;
}
::-moz-selection { /* Code for Firefox */
	color: #ff4455;
}
::selection {
	color: #fff;
	background-color: #000;
}
hr{
	width: 70%;
	height: 1px;
	margin: 1.5em auto 2.5em;
	border: 0px;
	background-color: #000;
}
/*setting for notice*/
.notice-box{
	width: 100%;
	position: fixed;
	top: 0em;
	padding-top: 1.5em;
	z-index: 100;
	text-align: center;
	font-family: 'Hero';
	color: #fff;
	display: none;
}
.notice-box .notice-content{
	width: 45em;
	display: inline-block;
	padding: 2em 3em;
}
.notice-box .notice-content .notice-text .text{
	font-size: 1.5em;
}
.notice-box .success{
	border: 1px solid #4CD964;
	background-color: #4CD964;
}
.notice-box .error{
	border: 1px solid #FF2D55;
	background-color: #FF2D55;
}
/*setting for header*/
header{
	position: fixed;
	width: 100%;
	height: 4em;
	z-index: 50;
}
header .header-box{
	position: relative;
	background-image: asset_url('bg-place-3.jpg');
	background-repeat: no-repeat;
	background-position: center; 
	background-color: rgba(0,0,0,0.25);
	width: 100%;
	height: 4em;
	color: #fff;
	z-index: 50;
}
header .header-box h1.logo-text{
	font-family: 'Hero';
	font-size: 3em;
	float: left;
	margin-left: 1.5em;
}
header .header-box a{
	color: #fff;
	text-decoration: none;
}
header .header-box a:hover{
	text-decoration: none;
}
header .header-box .header-navigation-bar{
	position: absolute;
	top: 0.25em;
	right: 1.5em;
}
header .header-navigation-bar ul{
	list-style: none;
}
header .header-navigation-bar ul li{
	float: left;
	padding: 0.75em 1.5em;
	font-size: 1.3em;
	font-family: 'Hero';
}
header .header-navigation-bar ul li a{
	color: #fff;
	text-decoration: none;
}
.main-content{
	padding-top: 4em;
	background-color: #F5F5F5;
}
/*setting for follow form*/
.follow-us-by-mail{
	font-family: 'Stag';
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5em 0em 5em;
	color: #fff;
}
.page-title{
	font-size: 2.0em;
	font-weight: normal;
	margin-bottom: 1em;
	font-family: 'Hero';
}
.follow-us-by-mail .follow input[type="text"]{
	height: 3em;
	padding: 0 2em;
	background-color: rgba(255,255,255,0.3);
	color: #fff;
	border: 1px solid #fff;
	line-height: 1.5em;
	font-size: 1.2em;
	width: 15em;
	margin: 0 0.5em;
	font-family: 'Hero';
	border-radius: 0px;
}
.follow-us-by-mail .follow input[type="text"]:focus{
	outline: none;
	box-shadow: 0 0 0.5em rgba(255, 255, 255, 1);
}
.follow-us-by-mail .follow button{
	height: 3em;
	padding: 0 2.2em;
	border: 1px solid #fff;
	line-height: 1.5em;
	font-size: 1.2em;
	color: #fff;
	background-color: rgba(255,255,255,0.3);
	margin: 0 0.5em;
	font-family: 'Hero';
}
.follow-us-by-mail .follow button:hover{
	box-shadow: 0 0 0.5em rgba(255, 255, 255, 1);
}
.follow-us-by-mail .follow button:active{
	outline: none;
}
/*setting for footer*/
.footer-page{
	padding: 3.5em 0 0em;
	background-color: #F5F5F5;
	display: inline-block;
}
.footer-page ul{
	list-style: none;
	margin: 0 auto;
	display: inline-block;
}
.footer-page ul .icon{
	width: 48px;
	height: 48px;
	float: left;
	margin: 0 1em;
}
.footer-page ul .icon.facebook{
	background-image: asset_url('facebook-black.png');
	transition: all 0.7s ease;
}
.footer-page ul .icon.facebook:hover{
	background-image: asset_url('facebook-full-color.png');
}
.footer-page ul .icon.twitter{
	background-image: asset_url('twitter-black.png');
	transition: all 0.7s ease;
}
.footer-page ul .icon.twitter:hover{
	background-image: asset_url('twitter-full-color.png');
}
.footer-page ul .icon.googleplus{
	background-image: asset_url('googleplus-black.png');
	transition: all 0.7s ease;
}
.footer-page ul .icon.googleplus:hover{
	background-image: asset_url('googleplus-full-color.png');
}
.footer-page ul .icon.youtube{
	background-image: asset_url('youtube-black.png');
	transition: all 0.7s ease;
}
.footer-page ul .icon.youtube:hover{
	background-image: asset_url('youtube-full-color.png');
}
.footer-page .design-by{
	font-family: 'Hero';
	margin-top: 1em;
}
.footer-page .design-by div{
	display: inline-block;
	position: relative;
	margin: 0 auto;
}
.design-by h2#design-text{
	float: left;
	margin-top: 14px;
	margin-right: 15px;
	margin-bottom: 0px;
	font-weight: normal;
}
.footer-page .zorba-logo{
	height: 4.0em;
	float: left;
}
.footer-page .hiworld{
	width: 100%;
	font-size: 1.5em;
	font-family: 'Hero';
	background-color: rgba(0,0,0,0.55);
	background-image: asset_url('bg-place-5.jpg');
	background-position: center;
	padding: 0.25em 0;
	color: #fff;
}
.footer-page .hiworld a{
	text-decoration: none;
	color: #007AFF;
}
// setting for login page
.login-page{
	font-family: 'HeroHero';
	text-align: center;
	font-size: 1.5em;
	background-image: asset_url('bg-coffee-6.jpg');
	background-position: center;
}
.login-page .login-box{
	width: 50%;
	// background-color: #685;
	float: left;
}
.login-page .login-box > div{
	padding: 3em 3.5em;
	display: inline-block;
	border: 1px solid #000;
	margin: 5em 0;
	background-color: rgba(0,0,0,0.3);
}
.login-page .right-image-box{
	width: 50%;
	float: left;
	text-align: center;
}
.login-page .login-box .page-title{
	font-weight: normal;
	font-size: 1.5em;
	color: #fff;
}
.login-page .login-box .field input{
	width: 14em;
	padding: 0.5em 1em;
	font-size: 1.1em;
	font-family: 'Hero';
	background-color: rgba(255,255,255,0.3);
	border: 1px solid #fff;
	color: #fff;
	border-radius: 0px;
}
.login-page .login-box .field{
	margin-bottom: 1.5em;
}
.login-page .login-box .actions input{
	padding: 0.5em 1em;
	font-size: 1.0em;
	font-family: 'Hero';
	color: #fff;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.3);
	border: 1px solid #fff;
}
.login-page .login-box .field input:focus{
	outline: none;
	box-shadow: 0 0 0.5em rgba(255, 255, 255, 1);
}
.login-page .login-box .actions input:hover{
	outline: none;
	box-shadow: 0 0 0.5em rgba(255, 255, 255, 1);
}
