// Place all the styles related to the offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-page{
	padding: 2em 0 6em;
}
.image-content{
	padding: 2em 0 6em;
}
.funny-section{
	padding: 2em 0 3em;
	font-size: 1.2em;
	font-family: 'Hero';
	color: #000;
}
.funny-section .title{
	font-size: 1.8em;
	font-weight: normal;
	margin: 0.3em 0;
}
.funny-section .title a{
	color: #000;
	text-decoration: none;
}
.funny-section .owner{
	font-weight: normal;
	font-size: 1.2em;
	font-style: italic;
	margin: 0.2em 0;
}
.funny-section .create-time{
	font-weight: normal;
	font-size: 1.0em;
	font-family: 'Stag';
	margin: 0.2em 0 1em;
}
.funny-section .image-box{
	position: relative;
	display: inline-flex;
}
.funny-section .image-box img.image-funny{
	z-index: 1;
}
.funny-section .image-box .image-shadow{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.55);
	width: 100%;
	height: 100%;
	display: none;
}
.funny-section .image-box:hover .image-shadow{
	display: block;
}
.funny-section .image-box .image-shadow > div{
	position: relative;
	width: 100%;
	height: 100%;
}
.funny-section .image-box .image-shadow > div .like-count{
	margin: 0;
	margin-top: -17px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -48px;
	font-size: 2em;
	color: #fff;
	font-family: 'Stag';
}
.funny-section .image-box .image-shadow > div .like-icon{
	position: absolute;
	margin-top: -24px;
	top: 50%;
	left: 50%;
	margin-left: 24px;
	width: 48px;
	height: 48px;
	background-image: url('like-while.png');
	transition: all 0.7s ease;
}
.funny-section .image-box .image-shadow > div .like-icon:hover{
	background-image: url('like-full-color.png');
}
.funny-section .image-box .image-shadow > div .like-icon.liked{
	background-image: url('like-full-color.png');
}
.funny-section .like-count{
	font-weight: normal;
	font-size: 1.8em;
	margin: 0.2em 0;
}
.facebook-share-button{
	padding: 1em 2.5em;
	color: #fff;
	background-color: #ff4455;
	font-size: 1.5em;
	font-family: 'Stag';
	text-decoration: none;
}
.facebook-share-count{
	padding: 1em 1em;
	color: #fff;
	background-color: #ff4455;
	font-size: 1.5em;
	font-family: 1.5em;
	font-family: 'Stag';
	margin-left: 1em;
}
/*new image*/
.new-image{
	text-align: center;
	background-image: url('bg-place-5.jpg');
	color: #fff;
	background-position: center; 
}
.new-image .page-title{
	font-size: 2.0em;
	font-family: 'Hero';
	font-weight: normal;
}
.new-image .new-image-box{
	display: inline-block;
	margin: 8em 0 9em;
}
/*edit */
.edit-image{
	text-align: center;
	background-image: url('bg-place-2.jpg');
	background-position: center;
	color: #fff;
}
.edit-image .page-title{
	font-size: 2.0em;
	font-family: 'Hero';
	font-weight: normal;
}
.edit-image .edit-image-box{
	display: inline-block;
	margin: 8em 0 9em;
}
/*form setting*/
.image-form{

}
.image-form .field{
	margin: 1.5em 0;
}
.image-form .field input[type="text"]{
	height: 3em;
	padding: 0 2em;
	color: #fff;
	line-height: 1.5em;
	font-size: 1.2em;
	width: 20em;
	border: 1px solid #fff;
	font-family: 'Hero';
	background-color: rgba(255,255,255,0);
}
.image-form .field .add-image-button{
	width: 6em;
	height: 6em;
	border: 1px solid #fff;
	float: left;
	font-size: 1.2em;
	background-image: url('add-line-light.png');
	background-position: center;
	background-repeat: no-repeat;
}
.image-form .field.add-img-file-box{
	background-color: rgba(255,255,255,0.4);
}
.image-form .field.add-img-file-box:hover{
	box-shadow: 0 0 0.5em #fff;
	background-color: rgba(255,255,255,0.1);
}
.image-form .field .add-image-infomation{
	float: left;
	height: 6em;
	width: 18em;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 0px;
	font-size: 1.2em;
}
.image-form .field .add-image-infomation ul{
	list-style: none;
}
.image-form .field .add-image-infomation ul li{
	color: #fff;
	padding: 0.8em 0.5em;
	font-size: 1em;
	font-family: 'Hero';
	text-align: left;
}
.image-form .field .add-image-infomation ul li.success{
	background-image: url('success.png');
	background-repeat: no-repeat;
    	background-position: right center;
}
.image-form .field .add-image-infomation ul li.error{
	background-image: url('error.png');
	background-repeat: no-repeat;
    	background-position: right center;
}
.image-form .actions{
	padding-top: 1.5em;
}
.image-form .actions input[type="submit"]{
	font-size: 1.2em;
	color: #fff;
	border: 1px solid #fff;
	padding: 1em 3em;
	font-family: 'Hero';
	background-color: rgba(255,255,255,0.4);
}
.image-form .actions input[type="submit"]:hover{
	box-shadow: 0 0 0.5em #fff;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.1);
}
.image-form .field input[type="text"]:focus{
	box-shadow: 0 0 0.5em #fff;
	border: 1px solid #fff;
	outline: none;
}
.image-form .field input[type="text"]::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #fff;
}
.image-form .field input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.image-form .field input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.image-form .field input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.image-form .field input[type="text"]::-ms-input-placeholder { /* Edge */
  color: #fff;
}
.image-form .field input[type="text"]:placeholder-shown { /* Standard one last! */
  color: #fff;
}
