// Place all the styles related to the offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.funny-section{
	padding: 2em 0 3em;
	font-size: 1.2em;
	font-family: 'Stag';
	color: #000;
}
.funny-section .title{
	font-size: 1.8em;
	font-weight: normal;
	margin: 0.3em 0;
}
.funny-section .title a{
	color: #000;
	text-decoration: none;
}
.funny-section .owner{
	font-weight: normal;
	font-size: 1.2em;
	font-style: italic;
	margin: 0.2em 0;
}
.funny-section .create-time{
	font-weight: normal;
	font-size: 1.0em;
	margin: 0.2em 0 1em;
}
.funny-section .image-box{
	position: relative;
	display: inline-flex;
}
.funny-section .image-box img.image-funny{
	z-index: 1;
}
.funny-section .image-box .image-shadow{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.55);
	width: 100%;
	height: 100%;
	display: none;
}
.funny-section .image-box:hover .image-shadow{
	display: block;
}
.funny-section .image-box .image-shadow > div{
	position: relative;
	width: 100%;
	height: 100%;
}
.funny-section .image-box .image-shadow > div .like-count{
	margin: 0;
	margin-top: -17px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -48px;
	font-size: 2em;
	color: #fff;
}
.funny-section .image-box .image-shadow > div .like-icon{
	position: absolute;
	margin-top: -24px;
	top: 50%;
	left: 50%;
	margin-left: 24px;
	width: 48px;
	height: 48px;
	background-image: url('like-while.png');
	transition: all 0.7s ease;
}
.funny-section .image-box .image-shadow > div .like-icon:hover{
	background-image: url('like-full-color.png');
}
.funny-section .image-box .image-shadow > div .like-icon.liked{
	background-image: url('like-full-color.png');
}
.funny-section .like-count{
	font-weight: normal;
	font-size: 1.8em;
	margin: 0.2em 0;
}

